.main{
    margin: auto;
    padding: 0;
    align-items: center;
}
.nav-text
{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20;
}

.below-nav{
    visibility: hidden;
    line-height: 250%;
    width: 100%;
    background-color: #cadffa;
    color: #2e2e2e;
    padding-left: 1%;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
}

.footer{
    height: 60px;
    background: #BFDBFE;
    text-align: center;
    line-height: 60px;
}

.dropdown-menu a:hover{
    background-color: #22AFFF;
}